*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.background{
    background-color: rgb(172, 31, 87);
    border: 2px solid black;
    padding-top: 1px;
}
.title{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}
.display{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;

}
.hide{
    display: none;

}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
.tile{
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
}
.playerX{
    color:#09C372 ;
}
.player0{
    color:#498AFB ;
}
.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.controls button{
    color: rgb(26, 12, 12);
    padding: 8px;
    border-radius: 15px;
    border:5px solid black;
    font-size: 30px;
    margin-left: 1em;
    cursor: pointer;
    
}
.controls button:hover{
    color: white;
    background: black;
}
.restart{
    background-color: #498AFB;
}
.reset{
    background-color: #FF3860 ;
}